IDR_WIND WAV "resources/wind.wav.lz"
IDR_CROW WAV "resources/crow.wav.lz"
IDR_ISLAND SOS "resources/island.sos.lz"
IDR_ISLAND_TEX RCDATA "resources/island.png"
IDR_BUSH SOS "resources/bush.sos.lz"
IDR_CROWN_LEFT SOS "resources/crown-left.sos.lz"
IDR_CROWN_RIGHT SOS "resources/crown-right.sos.lz"
IDR_HEAD SOS "resources/head.sos.lz"
IDR_SKY SOS "resources/sky.sos.lz"
IDR_SKY_TEX RCDATA "resources/sky.png"
IDR_DIFFUSE_FX RCDATA "resources/diffuse.fx"
IDR_RING SOS "resources/ring.sos.lz"
